* {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
	font-family: 'Noto Sans', sans-serif;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 20px;
}
p {
	font-size: 12px;
}

/* PAGE LAYOUT */
.page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.page-body {
	display: flex;
	flex: 1;
}
.page-content {
	flex: 1;
}
.page-left,
.page-right {
	flex: 0 0 12em;
}

.page-left {
	order: -1;
}
.page,
.page-body {
	display: flex;
	flex-direction: column;
}
.page-left {
	order: -1;
}
@media (min-width: 768px) {
	.page-body {
		flex-direction: row;
		flex: 1;
	}
	.page-content {
		flex: 1;
	}
	.page-left,
	.page-right {
		/* 12em is the width of the columns */
		flex: 0 0 12em;
	}
}

/* GRID */
.Grid {
	display: flex;
}
.Grid-cell {
	flex: 1;
}

/* HEADER */
.header {
	overflow: hidden;
	background-color: #ffffff;
	border-bottom: 1px solid #e5e8ed;
	padding: 20px 10px;
}
.header a {
	float: left;
	color: rgb(100, 100, 100);
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 14px;
	line-height: 25px;
	border-radius: 4px;
}
.header a.logo {
	font-size: 24px;
	font-weight: bold;
}
.header a.active,
.header a:hover:not(.logo) {
	color: black;
}
.header-right {
	float: right;
}
@media screen and (max-width: 720px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}
	.header-right {
		float: none;
	}
}

/* FOOTER */
.Footer {
	position: absolute;
	bottom: 0;
	height: 150px;

	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
	margin-top: 80px;
}
.Footer p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
}
.Footer p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
	padding-right: 5px;
}
.Footer p.footer-links a:not(:first-child) {
	padding-left: 5px;
}
.Footer p.footer-links a:hover {
	text-decoration: underline;
}
.Footer .footer-left #copyright {
	color: #8f9296;
	font-size: 12px;
	margin: 0;
	font-style: italic;
}
.Footer .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
}
.Footer .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

/* Login Form */
.login {
	background: #f1f1f1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}
.login .form {
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login .form input {
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.login .form button {
	text-transform: uppercase;
	outline: 0;
	background: #4caf50;
	width: 100%;
	border: 0;
	padding: 15px;
	margin: 0 0 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.login .form button:hover,
.login .form button:active,
.login .form button:focus {
	background: #43a047;
}

/* Loading Screen */
.loading-screen {
	width: 20px;
	height: 20px;
	bottom: 4.5%;
	right: 3%;
	position: fixed;
	display: block;
}
.loading-screen .spinner {
	bottom: 0%;
	right: 0%;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 20;
	height: 20px;
}
.loading-screen .spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 2px solid transparent;
	border-top-color: #07d;
	border-bottom-color: #07d;
	animation: spinner .8s ease infinite;
}
@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
