body,
html {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
}

.footer {
	position: absolute !important;
	bottom: 0;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

.CookieConsentMessage {
	position: absolute !important;
	bottom: 0;
	line-height: 36px !important;
	width: 100%;
	border-radius: 0 !important;
}

.LoadingScreen {
	border-radius: 0 !important;
	height: 100vh;
}
.file-input {
	display: none !important;
}

.page-sidebar {
	min-height: calc(100vh + 14px);
}
.page-content {
	padding-left: 0 !important;
}

.fix-sidebar {
	position: fixed;
}

.fix-header {
	position: fixed !important;
	width: 100% !important;
	z-index: 1000;
}

.fix-content {
	padding-top: 80px !important;
}
